<div class="about-us">
    <div class="content-container">
        <div class="content-box">
            <h1>About us</h1>
            <hr>
            <h3>We are a small company that specializes in inventory solutions for plants.</h3>
        </div>
        <div class="content-box">
            <h1>Staff</h1>
            <hr>
            <div class="avatar-container">
                <img src="https://res.cloudinary.com/dvbejvnhk/image/upload/v1583466774/p73HYKcXcgCfxXx3mL5biGER.jpg"
                    alt="avatar" class="avatar">
                <img src="https://res.cloudinary.com/dvbejvnhk/image/upload/v1604132437/agriculture-natural-plant-fertile-logo-design-template-agricultu-2-2_2_l6gqxs.png"
                    alt="avatar-logo" class="avatar-logo">
            </div>
            <div class="avatar-content">
                <h3>Nikolai Pammer</h3>
                <h4>Lead Developer</h4>
                <div class="avatar-social">
                    <a href="https://www.linkedin.com/in/nikolai-pammer/" target="_blank"><i
                            class="fab fa-linkedin avatar-icon avatar-icon-left"></i></a>
                    <a href="https://github.com/Npammer" target="_blank"><i
                            class="fab fa-github-square avatar-icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>