<div class="index">
    <div class="banner">
        <div class="bottom-line"></div>
    </div>
    <div class="content">
        <div class="content-box">
            <h1>Welcome to Plants-inventory</h1>
            <hr>
            <h3>At Plants-inventory we take pride in delivering quality inventory solutions for your plants.</h3>
            <a class="main-btn" href="/inventory">Inventory</a>
        </div>
        <div class="content-box">
            <h1>About us</h1>
            <hr>
            <h3>We are a small company that specializes in inventory solutions for plants.</h3>
            <a class="main-btn" href="/about-us">About Us</a>
        </div>
    </div>
</div>