<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://kit.fontawesome.com/18628b6e6f.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <a href="/"><img class="logo" src="https://res.cloudinary.com/dvbejvnhk/image/upload/v1603867909/Logo_1_egicgm.png"
        alt="Logo"></a>
    <div class="menu-btn">
      <div class="menu-btn__burger"></div>
    </div>
  </header>
  <div class="nav">
    <h1>Pages</h1>
    <hr />
    <nav>
      <a href="/">
        <div class="nav-links">
          <h2>Home</h2>
          <i class="fas fa-leaf"></i>
        </div>
      </a>
      <a href="/plants">
        <div class="nav-links">
          <h2>Inventory</h2>
          <i class="fas fa-leaf"></i>
        </div>
      </a>
      <a href="/about-us">
        <div class="nav-links">
          <h2>About Us</h2>
          <i class="fas fa-leaf"></i>
        </div>
      </a>
    </nav>
    <img class="nav-img"
      src="https://res.cloudinary.com/dvbejvnhk/image/upload/v1603892113/agriculture-natural-plant-fertile-logo-design-template-agricultu-2_2_n8qvxm.png"
      alt="">
  </div>
  {{{body}}}
  <script src="/javascripts/layout.js"></script>
</body>

</html>