<div class="plant-list">
    <h1>Plants</h1>
    <hr>

    <ul>
        {{#each plant_list}}
        <a href="{{this.link}}">
            <li class="mb-1">{{this.name}}</li>
        </a>
        {{/each}}
    </ul>
</div>