* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font: 14px "Avenir Next", sans-serif;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow-x: hidden;
  position: fixed; }

header {
  height: 14%;
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.39);
  z-index: 6; }
  header a {
    line-height: 1;
    display: contents;
    background-color: red; }
    header a .logo {
      object-fit: contain;
      width: 70%; }

.menu-btn {
  margin-right: 8px;
  height: 100%;
  width: 126px;
  position: relative;
  display: flex;
  align-items: center;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */ }

.menu-btn__burger {
  width: 90px;
  height: 10px;
  background: #000000a2;
  border-radius: 5px;
  transition: all .5s ease-in-out; }
  .menu-btn__burger:before, .menu-btn__burger:after {
    content: '';
    position: absolute;
    width: 90px;
    height: 10px;
    background: #000000a2;
    border-radius: 5px;
    transition: all .5s ease-in-out; }
  .menu-btn__burger::before {
    transform: translateY(-24px); }
  .menu-btn__burger::after {
    transform: translateY(24px); }

.menu-btn.open {
  padding: 2px; }

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent; }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px); }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px); }

.nav {
  height: 86%;
  width: 100%;
  background: linear-gradient(180deg, #0F914C 40.63%, #8BC249 95.83%);
  display: flex;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  position: absolute; }
  .nav h1 {
    margin-top: 0.5em;
    font-size: 6em;
    color: white;
    letter-spacing: 0.11em;
    font-weight: 450; }
  .nav hr {
    margin: 32px 0 64px 0;
    border-top: 2px solid white;
    width: 80%; }
  .nav nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nav nav a .nav-links {
      display: flex;
      margin-bottom: 6vh; }
      .nav nav a .nav-links h2, .nav nav a .nav-links i {
        font-size: 5em;
        color: white;
        z-index: 11; }
      .nav nav a .nav-links i {
        margin-left: 24px; }
  .nav .nav-img {
    position: absolute;
    bottom: 40px;
    height: 40%; }

.content-container {
  margin: 64px; }

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border: 4px solid #0F914C;
  border-radius: 42px;
  margin-bottom: 64px; }
  .content-box h1 {
    font-size: 5.5em;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.1em; }
  .content-box hr {
    margin: 32px 0;
    border-top: 2px solid rgba(15, 145, 76, 0.521);
    width: 80%; }
  .content-box h3 {
    font-size: 3em;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 1em; }

.main-btn {
  text-decoration: none;
  background: linear-gradient(180deg, #8BC249 0%, #0F914C 79.17%);
  color: white;
  font-size: 5em;
  font-weight: 400;
  padding: 0.2em;
  border-radius: 16px;
  width: 80%;
  text-align: center; }

.background-logo {
  height: 40%;
  position: absolute;
  bottom: -10%;
  right: -15%;
  z-index: -1;
  opacity: 0.4; }

.avatar-container {
  display: flex;
  justify-content: center;
  position: relative; }
  .avatar-container .avatar {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 4px solid #0F914C; }
  .avatar-container .avatar-logo {
    position: absolute;
    height: 50%;
    bottom: -9%;
    right: 20%; }

.edit-overlay-background {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vh;
  background: #0000005b;
  z-index: 3; }

.edit-overlay-background.active {
  display: inline; }

.edit-overlay {
  z-index: 4;
  box-sizing: content-box;
  padding: 64px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .edit-overlay .main-btn {
    width: 90%; }
  .edit-overlay .edit-delete-btn {
    background: linear-gradient(180deg, #FF0000 0%, #C20000 76.56%); }

.category {
  display: inline;
  font-size: 3.5em;
  color: white;
  padding: 16px 32px;
  border-radius: 32px;
  background: linear-gradient(180deg, #8BC249 0%, #0F914C 79.17%); }

.plant-cards {
  width: 100%;
  position: relative; }
  .plant-cards .plant-card {
    padding: 8px 16px 8px 0;
    display: flex; }
    .plant-cards .plant-card img {
      width: 25%;
      height: 25%;
      object-fit: contain; }
    .plant-cards .plant-card .name-category-read-container {
      display: flex;
      flex-basis: 100%;
      justify-content: space-between; }
      .plant-cards .plant-card .name-category-read-container .name-categories {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .plant-cards .plant-card .name-category-read-container .name-categories h3 {
          font-size: 4em;
          margin-bottom: 0.5em;
          color: black; }
        .plant-cards .plant-card .name-category-read-container .name-categories h4 {
          font-size: 2em; }
      .plant-cards .plant-card .name-category-read-container .read-more {
        display: flex;
        align-items: center; }
        .plant-cards .plant-card .name-category-read-container .read-more h4 {
          padding: 16px;
          white-space: nowrap;
          font-size: 2.5em;
          border: 2px solid #0F914C;
          border-radius: 16px;
          color: #0F914C; }

.index {
  height: 86%;
  width: 100%;
  overflow-y: scroll; }
  .index .banner {
    width: 100%;
    height: 20%;
    background-image: url("https://res.cloudinary.com/dvbejvnhk/image/upload/v1604057326/unnamed-2_kafgzy.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .index .banner .bottom-line {
      width: 100%;
      height: 12%;
      background: #ffffff8c;
      position: absolute;
      bottom: 0; }

.about-us {
  height: 86%;
  width: 100%;
  overflow-y: scroll; }
  .about-us .avatar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em; }
    .about-us .avatar-content h3 {
      margin-bottom: 0.1em;
      font-size: 4em; }
    .about-us .avatar-content h4 {
      font-size: 2em; }
    .about-us .avatar-content .avatar-social {
      display: flex;
      margin-top: 0.7em; }
      .about-us .avatar-content .avatar-social .avatar-icon-left {
        margin-right: 0.4em; }
      .about-us .avatar-content .avatar-social .avatar-icon {
        font-size: 6em;
        color: #000000a1; }

.plant-list {
  height: 86%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px; }
  .plant-list h1 {
    font-size: 5.5em;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 64px; }
  .plant-list hr {
    margin: 32px 0;
    border-top: 2px solid rgba(15, 145, 76, 0.521);
    width: 80%; }
  .plant-list .add-plant {
    position: fixed;
    margin: 32px;
    bottom: 0;
    right: 0;
    border: 2px solid white;
    font-weight: 600; }

.plant-detail {
  height: 86%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .plant-detail img {
    height: 30%; }
  .plant-detail .title-edit {
    display: flex; }
    .plant-detail .title-edit h1 {
      font-size: 4.5em;
      text-align: center;
      padding: 24px; }
    .plant-detail .title-edit img {
      height: 4.5em;
      padding: 24px;
      box-sizing: content-box; }
  .plant-detail h3 {
    margin-top: 1.5em;
    font-size: 3em;
    line-height: 1.4em;
    text-align: center;
    margin-bottom: 1em; }
  .plant-detail .category-container {
    display: flex;
    justify-content: center; }
  .plant-detail .main-btn {
    margin-bottom: 40px; }

/*# sourceMappingURL=style.css.map */