*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font: 14px "Avenir Next", sans-serif
  height: 100vh // fallback
  // Calculate vh
  height: calc(var(#{--vh}, 1vh) * 100)
  width: 100vw

header
  height: 14%
  padding: 16px
  display: flex
  justify-content: space-between
  align-items: center
  a
    line-height: 1
    display: contents
    background-color: red
    .logo
      object-fit: contain
      width: 70%

.menu-btn
  padding: 16px
  margin-right: 8px
  height: 100%
  width: 126px
  position: relative
  display: flex
  align-items: center
  transition: all .5s ease-in-out
  /* border: 3px solid #fff;

.menu-btn__burger
  width: 90px
  height: 10px
  background: #000000a2
  border-radius: 5px
  transition: all .5s ease-in-out
  &:before, &:after
    content: ''
    position: absolute
    width: 90px
    height: 10px
    background: #000000a2
    border-radius: 5px
    transition: all .5s ease-in-out

  &::before
    transform: translateY(-24px)

  &::after
    transform: translateY(24px)

/* ANIMATION

.menu-btn.open .menu-btn__burger
  transform: translateX(-50px)
  background: transparent

  &::before
    transform: rotate(45deg) translate(35px, -35px)

  &::after
    transform: rotate(-45deg) translate(35px, 35px)

.menu-btn.open .nav

.nav
  height: 86%
  background: linear-gradient(180deg, #0F914C 40.63%, #8BC249 95.83%)
  display: flex
  align-items: center
  z-index: 1
  flex-direction: column
  h1
    margin-top: 0.5em
    font-size: 6em
    color: white
    letter-spacing: 0.11em
    font-weight: 450
  hr
    margin: 32px 0 64px 0
    border-top: 2px solid white
    width: 80%

  nav
    display: flex
    flex-direction: column
    align-items: center
    a
      .nav-links
        display: flex
        margin-bottom: 60px
        h2, i
          font-size: 5em
          color: white
          z-index: 2
        i
          margin-left: 24px

  .nav-img
    position: absolute
    bottom: 40px
    height: 40%
